rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{productId}{
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }
    
    match /reviews/{reviewId}{
      allow read: if true;
      allow create: if request.auth != null 
      	&& request.resource.data.desc is string
      	&& request.resource.data.desc.size() >= 2
        && request.resource.data.desc.size() < 250;
      allow update: if request.auth.uid == resource.data.owner;
      allow delete: if request.auth.uid == resource.data.owner;
    }
    match /plans/{planId}{ 
      allow read: if true;
      allow create: if request.auth.uid != null 
      	&& request.auth.uid != resource.data.user;
      allow update: if request.auth.uid == resource.data.user;
      allow delete: if request.auth.uid == resource.data.user;
    }
    match /contacts/{contactId}{
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }
  }
}


    
