.plansScreen__plan {
 display: flex;
 justify-content: space-between;
 padding: 30px;
 opacity: 0.8;
}
.plansScreen__plan:hover{
    opacity: 1;
}

.plansScreen__plan > button{
    padding: 10px 20px;
    font-size: 1rem;
    color:black ;
    background-color: springgreen;
    font-weight: 600;
    border: none;
    cursor: pointer;
}