.reviewDisplay {
  position: cover;
  color: white;
  background-color: black;
  height: 100%;
  padding-top: 40px;
}

.reviewDisplay > h1 {
  color: white;
  height: 100%;
  padding-left: 400px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.inputBox {
  color: white;
  background-color: black;
  height: 40%;
  padding-left: 300px;
  padding-right: 50px;
}

.inputBox > h3 {
  color: white;
}

.inputBox > h5 {
  color: rgb(24, 211, 108);
}

.review {
  color: black;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.allreviews {
  background-color: white;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}
.allreviews > h3 {
  padding-left: 60px;
  padding-right: 50px;
}
.username {
  color: darkblue;
  padding-left: 2px;
}

.b1 {
  color: white;
  background-color: #e50914;
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-left: 5px;
}

.b2 {
  color: white;
  background-color: blue;
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 15px;
  margin-top: 5px;
}

.b3 {
  color: white;
  background-color: green;
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-left: 5px;
}
