* {
  margin: 0;
  background-color: #111;
}

.login_box {
  background-color: rgb(177, 161, 161);
  color: white;
  text-align: center;
}

.form-group {
  text-align: center;
}
.btn1 {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  width: 10%;
}
.btn2 {
  background-color: #2a0ea7;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  width: 10%;
}
button:hover {
  opacity: 0.8;
}
