.nav_contents {
  display: flex;
  justify-content: space-between;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  left: 0px;
  top: 10px;
  width: 50px;
  object-fit: contain;
  cursor: pointer;
  color: rgb(252, 243, 243);
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
  cursor: pointer;
  color: rgb(233, 223, 223);
}
